<div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">¡Registrate!</h4>

      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
      <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm.value)" class="text-center" action="/action_page.php">
        <div class="form-group text-center">
            <p><img src="../assets/images/perfil.png" alt="perfil"></p>
            <label for="avatar">Avatar (URL):</label> 
            <input type="text" name="avatar" class="form-control" ngModel required>
          </div>
        <div class="form-group text-center">
          <label for="nombre">Nombre:</label>
          <input type="text" name="nombre" class="form-control" ngModel required>
        </div>
        <div class="form-group text-center">
            <label for="apellidos">Apellidos:</label>
            <input type="text" name="apellidos" class="form-control" ngModel required>
          </div>
          <div class="form-group text-center">
              <label for="email">Dirección de Correo Electronico :</label>
              <input type="email" name="email" class="form-control" ngModel required>
            </div>
        <div class="form-group text-center">
          <label for="contraseña">Contraseña:</label>
          <input type="password" name="contraseña" class="form-control" id="pwd" ngModel required>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary btn-block ">Registrate</button>
      </form>

    </div>
  </div>