<!DOCTYPE HTML>
<html>
  
  <div align="center"> <img src="https://raw.githubusercontent.com/jucansu/Proyecto-Avante/master/Documentaci%C3%B3n/Im%C3%A1genes/logo.png"  style="position:relative; top:-100px ; left:0px" height="400" width="1000"></div>  
  <head>
      <title>Menu Desplegable</title>
      <style type="text/css">
        
       
      </style>
    </head>
    <body>
      <div id="header">
        <ul class="nav">
          <li><a href="">Inicio</a></li>
          <li><a href="">Nuevo post</a></li>
          <li><a href="">Perfil</a>
            <ul>
              <li><a href="">Registro</a></li>
              <li><a href="">Identificarse</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </body>
</html>
