.logo
{
    background-color: white
    
}

.nav-bar{
   
 }

 .contexto{

 }

 .anuncio{
    
 }

 .router{
     
 }

 .footer{
     background-color: lightblue
 }

 .business-header {
    height: 50vh;
    min-height: 300px;
    background: url('../assets/images/fondo2.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }