<header>
  <div class="container-fluid business-header">
    <div class="row">
      <div class="col-lg-12">

      </div>
    </div>
  </div>
</header>
<!--  <div class= "row logo text-center">
        <img class="mx-auto d-block" src="../assets/images/logo2.png" />
    </div>-->

    <navbar></navbar>

<br>
<div class=container>
  <div class="row contexto">
    <div class=" col-12 router">
      <router-outlet></router-outlet>
    </div>
    <div id="anuncio" class=" col-12 anuncio text-center">
      <a title="publicidad" href="http://www.lostejos.com">
        <img src="../assets/images/banner-publi.jpg" alt="publicidad" />
      </a>
    </div>
  </div>
</div>
<br>
<footer>
  <div class="container-fluid">
    <div class="row footer">
      <div class="col-lg-12"></div>
      <p></p>
    </div>
  </div>
</footer>


<!--Modales para el registro y el logín-->

<!-- The Modal of Register-->
<div class="modal fade" id="registroModal">
  <div class="modal-dialog">
    <register-page></register-page>
  </div>
</div>

      <!-- The Modal of Login-->
<div class="modal fade" id="loginModal">
    <div class="modal-dialog ">
        <!-- Modal body -->
        <login-page></login-page> 
    </div>
</div>
