<div class="col-lg-12 text-center">
		<!-- Wrap the rest of the page in another container to center all the content. --><img class="rounded-circle" src="http://static.alfabetajuega.com/abj_public_files/multimedia/imagenes/alfabetajuega-pepe-the-frog-1-151217.jpg" alt="Generic placeholder image" width="140" height="140">
    <h2>Heading</h2>
    <div class= "row">
    <div class="col-lg-3">&nbsp;</div>
    <div class="col-lg-6">
    <table class= "table ">
      <tr>
       <th> Nombre</th>
       <td> Pepe</td>
      </tr>
      <tr>
          <th> Apellidos</th>
         <td> Pérez</td>
        </tr>
        <tr>
            <th> email</th>
            <td> pepe@gmail.com</td>
           </tr>
           <tr>
               <th> rol</th>
              <td> Usuario</td>
             </tr>
      </table>
      </div>
      <div class="col-lg-3">&nbsp;</div>
    </div>
		<p><a class="btn btn-secondary" href="#" role="button">Mis publicaciones»</a></p>
   

  </div>